<section class="about-project" id="about-project">
    <div class="about-project__content">
        <h2 class="about-project__heading">
            О проекте
        </h2>
        <div class="about-project__text">
            <p>
                Данный сервис предназначен для расчета стоимости тарифа нотариуса для граждан и юридических лиц. Расчет тарифа производится на основании тарифов, опубликованных на сайте Федеральной нотариальной палаты для г. Москвы. Калькуляция
                тарифа поможет вам планировать свою сделку и в несколько кликов получить представление о стоимости нотариальных услуг по проведению сделки с недвижимостью или долей ООО.
            </p>
        </div>
        
    </div>
</section>
