<section class="apply" id="apply">
    <div class="apply__content">
        <div class="apply__left-column">
            <h2 class="apply__heading">
                Онлайн-запись к нотариусу
            </h2>
            <div class="apply__text-block-info">
                <p>
                    Теперь вы можете записаться на приём к нотариусу не выходя из дома! Просто выберите ближайшую станцую метро, найдите в предложенном списке нотариуса и укажите дату и время.
                </p>
            </div>
        </div>
        <div class="apply__right-column">
            <div class="apply__widget-wrapper">

            </div>
        </div>
    </div>
    <div class="apply__image-block">
        <div class="apply__image-block-wrapper">
            <img src="img/apply-bg.jpg" alt="" class="apply__image">
        </div>
    </div>
</section>
