<section class="calculator" id="calculator">
    <div class="calculator__content">
        <h2 class="calculator__heading">
            Калькулятор
        </h2>
        <div class="calculator__info-text">
            <p>
                Введите данные для самостоятельного расчета тарифа нотариуса
            </p>
        </div>
        <form action="/" method="POST" class="calculator__form">
            <div class="calculator__form-left-column">
                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Тип договора
                    </h4>
                    <div class="calculator__select">
                        <select name="type" class="js-custom-select" data-placeholder="Выберите тип договора">
                            <option value="value1" selected>Договор купли-продажи</option>
                            <option value="value2">Договор дарения</option>
                        </select>
                    </div>
                </div>
                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Субъект сделки
                    </h4>
                    <div class="calculator__radios">
                        <label class="calculator__radio-group">
                            <input type="radio" name="subject" value="real-estate" class="calculator__radio-input" checked/>
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Недвижимость
                                </span>
                            </span>
                        </label>
                        <label class="calculator__radio-group">
                            <input type="radio" name="subject" value="share" class="calculator__radio-input" />
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Доля ООО
                                </span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Стороны договора
                    </h4>
                    <div class="calculator__select">
                        <select name="side" class="js-custom-select" data-placeholder="Выберите сторону договора">
                            <option value="value1" selected>Только физические лица</option>
                            <option value="value2">Юридические лица</option>
                        </select>
                    </div>
                </div>
                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Родство
                    </h4>
                    <div class="calculator__radios">
                        <label class="calculator__radio-group">
                            <input type="radio" name="relation" value="close" class="calculator__radio-input" checked/>
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Супруги, дети, родители
                                </span>
                            </span>
                        </label>
                        <label class="calculator__radio-group">
                            <input type="radio" name="relation" value="none" class="calculator__radio-input" />
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Родство отсутствует
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Стоимость указанная в договоре, ₽
                    </h4>
                    <div class="calculator__range-slider js-range-slider">
                        <input type="range" name="price" class="calculator__range-input" min="0" max="120000" step="1000" value="60000">
                        <div class="calculator__range-slider-wrapper">
                            <div class="calculator__range-slider-price">
                                
                            </div>
                            <div class="calculator__range-slider"></div>
                        </div>
                        
                    </div>
                </div>
                <div class="calculator__input-group">
                    <h4 class="calculator__input-group-heading">
                        Вид собственности
                    </h4>
                    <div class="calculator__radios">
                        <label class="calculator__radio-group">
                            <input type="radio" name="property" value="common" class="calculator__radio-input" checked/>
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Долевая
                                </span>
                            </span>
                        </label>
                        <label class="calculator__radio-group">
                            <input type="radio" name="property" value="individual" class="calculator__radio-input" />
                            <span class="calculator__radio-group-content">
                                <span class="calculator__radio-mark"> </span>
                                <span class="calculator__radio-text">
                                    Индивидуальная
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="calculator__form-right-column">
                <div class="calculator__form-price-block">
                    <h5 class="calculator__form-price-block-heading">
                        Стоимость тарифа нотариуса
                    </h5>
                    <div class="calculator__form-price">
                        48 500 ₽
                    </div>
                    <div class="calculator__form-price-info">
                        <svg width="20" height="20" aria-hidden="true" class="icon-info">
                            <use xlink:href="#info" />
                        </svg>
                        <span class="calculator__form-price-info-text">
                            Расчет носит предварительный характер. Точная сумма тарифа будет определена нотариусом по результатам рассмотрения заявки.
                        </span>
                    </div>

                    <a href="#apply" class="calculator__form-btn js-anchor-link">
                        Записаться на прием
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>
