<section class="faq" id="faq">
    <div class="faq__content">
        <h2 class="faq__heading">
            Вопрос-ответ
        </h2>
        <div class="faq__items">
            <div class="faq__item js-accordion">
                <a href="#" class="faq__accordion-btn">
                    <span class="faq__accordion-btn-text">
                        В каких сделках обязательно участие нотариуса?
                    </span>
                    <span class="faq__accordion-cross"></span>
                </a>
                <div class="faq__accordion-content">
                    <div class="faq__accordion-content-inner">
                        <p>
                            При обращении в нотариальную контору вы можете съэкономить на услугах риэлтора, арендебанковской ячейки, вам потребуется собираться и встречаться в банке (вы экономите свое время) и оплачивать различные комиссии. Например при продаже квартиры стоимостью 10 млн. рублей стоимость услуг нотариуса будет составлять 20000 руб (тариф) + 5000 (услуги правовой и технической работы), и 1000 рублей за регистрацию прав в Росреестре. При обращении в банк - аренда ячейчки от 2000 рублей услуги риэлтора и регистрации от 50000 рублей (в зависимости от агентства), при этом нотариусу законодательно разрешено использовать базы данных, недоступных риэлторам и прочим регистраторам, например база данных недееспособных лиц, что является наиболее частой причиной признания сделки недествительной.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__items">
            <div class="faq__item js-accordion">
                <a href="#" class="faq__accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Откуда берутся данные для расчета тарифа нотариуса?
                    </span>
                    <span class="faq__accordion-cross"></span>
                </a>
                <div class="faq__accordion-content">
                    <div class="faq__accordion-content-inner">
                        <p>
                            При обращении в нотариальную контору вы можете съэкономить на услугах риэлтора, арендебанковской ячейки, вам потребуется собираться и встречаться в банке (вы экономите свое время) и оплачивать различные комиссии. Например при продаже квартиры стоимостью 10 млн. рублей стоимость услуг нотариуса будет составлять 20000 руб (тариф) + 5000 (услуги правовой и технической работы), и 1000 рублей за регистрацию прав в Росреестре. При обращении в банк - аренда ячейчки от 2000 рублей услуги риэлтора и регистрации от 50000 рублей (в зависимости от агентства), при этом нотариусу законодательно разрешено использовать базы данных, недоступных риэлторам и прочим регистраторам, например база данных недееспособных лиц, что является наиболее частой причиной признания сделки недествительной.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__items">
            <div class="faq__item js-accordion">
                <a href="#" class="faq__accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Хочу продать квартиру, как нотариус поможет сэкономить?
                    </span>
                    <span class="faq__accordion-cross"></span>
                </a>
                <div class="faq__accordion-content">
                    <div class="faq__accordion-content-inner">
                        <p>
                            При обращении в нотариальную контору вы можете съэкономить на услугах риэлтора, арендебанковской ячейки, вам потребуется собираться и встречаться в банке (вы экономите свое время) и оплачивать различные комиссии. Например при продаже квартиры стоимостью 10 млн. рублей стоимость услуг нотариуса будет составлять 20000 руб (тариф) + 5000 (услуги правовой и технической работы), и 1000 рублей за регистрацию прав в Росреестре. При обращении в банк - аренда ячейчки от 2000 рублей услуги риэлтора и регистрации от 50000 рублей (в зависимости от агентства), при этом нотариусу законодательно разрешено использовать базы данных, недоступных риэлторам и прочим регистраторам, например база данных недееспособных лиц, что является наиболее частой причиной признания сделки недествительной.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
