<section class="intro">
    <div class="intro__bg-photo-wrapper">
        <img src="img/bg-photo.jpg" alt="" class="intro__bg-photo">
    </div>
    <div class="intro__content">
        <h1 class="intro__heading">
            Калькулятор стоимости нотариального тарифа
        </h1>
        <div class="intro__text">
            <p>
                Рассчитайте стоимость нотариального тарифа за сделку с обязательным участием нотариуса заранее при помощи нашего бесплатного калькулятора
            </p>
        </div>
        <a href="#calculator" class="intro__link js-anchor-link">Рассчитать тариф</a>
    </div>
</section>
