<section class="services" id="services">
    <div class="services__content">
        <h2 class="services__heading">
            Депозит нотариуса
        </h2>
        <div class="services__text visual-editor">
            <p>
                Депозит нотариуса — принятие нотариусом денежных средств и/или ценных бумаг от должника для последующей передачи их кредитору. Принятие депозита нотариусом производится в случаях, предусмотренных гражданским законодательством РФ.
            </p>
            <p>
                Нотариальный депозит можно использовать не только для расчета между кредитором и должником, но и для расчетов при удостоверении договора купли продажи, например недвижимости. В последнем случае, стоит отметить ряд преимуществ по
                использованию депозита нотариуса перед банковской ячейкой, а именно:
            </p>
            <ul>
                <li>
                    более низкая цена, по сравнению с банковской ячейкой
                </li>
                <li>
                    отсутствие посредников при регистрации, вы экономите на услугах регистраторов и риэлторах
                </li>
                <li>
                    надежность, нотариус является гарантом чистоты сделки, ведь у него есть возможность выполнить ряд запросов на проверку обьекта, и дееспособность лиц, участвующих в сделке.
                </li>
            </ul>
            <p>
                Немаловажным фактором является перечисление денежных средств продавцу только после того, как будет зарегистрировано право покупателя.
            </p>
        </div>
    </div>

    <div class="services__more-services">
        <ul class="services__list">
            <li class="services__list-item">
                <a href="#contracts" class="services__card js-modal-open">
                    <div class="services__card-inner">
                        <div class="services__card-icon-container">
                            <svg width="40" height="40" aria-hidden="true" class="icon-house">
                                <use xlink:href="#house" />
                            </svg>
                        </div>
                        <h5 class="services__card-title">
                            Сделки с недвижимостью
                        </h5>
                    </div>

                    <span class="services__card-more">
                        <span class="services__card-more-text">
                            Подробнее
                        </span>

                        <svg width="24" height="18" aria-hidden="true" class="icon-arrow">
                            <use xlink:href="#arrow" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#contracts" class="services__card js-modal-open">
                    <div class="services__card-inner">
                        <div class="services__card-icon-container">
                            <svg width="40" height="40" aria-hidden="true" class="icon-people">
                                <use xlink:href="#people" />
                            </svg>
                        </div>
                        <h5 class="services__card-title">
                            Брачный договор
                        </h5>
                    </div>

                    <span class="services__card-more">
                        <span class="services__card-more-text">
                            Подробнее
                        </span>

                        <svg width="24" height="18" aria-hidden="true" class="icon-arrow">
                            <use xlink:href="#arrow" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#contracts" class="services__card js-modal-open">
                    <div class="services__card-inner">
                        <div class="services__card-icon-container">
                            <svg width="40" height="40" aria-hidden="true" class="icon-chart">
                                <use xlink:href="#chart" />
                            </svg>
                        </div>
                        <h5 class="services__card-title">
                            Доля ООО
                        </h5>
                    </div>

                    <span class="services__card-more">
                        <span class="services__card-more-text">
                            Подробнее
                        </span>

                        <svg width="24" height="18" aria-hidden="true" class="icon-arrow">
                            <use xlink:href="#arrow" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
