<div class="modals">
    <div class="modal js-modal" id="contracts">
        <div class="modal__content js-modal-scroll-wrapper">
            <a href="#" class="modal__close js-modal-close">
                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </a>
            <div class="modal__inner">
                <div class="modal__text">
                    <h4 class="modal__heading">
                        Сделки с недвижимостью
                    </h4>
                    <div class="modal__text-content">
                        <p>
                            Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
                        </p>
                        <p>
                            Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                        </p>
                    </div>
                    <a href="#" class="modal__text-btn">
                        Записаться на прием
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal js-modal" id="call">
        <div class="modal__content js-modal-scroll-wrapper">
            <a href="#" class="modal__close js-modal-close">
                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </a>
            <div class="modal__inner">
                <div class="modal__call">
                    <h4 class="modal__heading">
                        Заказать звонок
                    </h4>
                    <form action="/" method="POST" class="modal__call-form" data-parsley-validate>
                        <div class="modal__call-form-group">
                            <input type="text" class="modal__call-input" placeholder="Ваше имя *" required>
                        </div>
                        <div class="modal__call-form-group">
                            <input type="tel" class="modal__call-input js-phone-input" placeholder="Телефон *" required data-parsley-phone="">
                        </div>
                        <div class="modal__call-form-group">
                            <input type="email" class="modal__call-input" placeholder="E-mail *" required>
                        </div>
                        <div class="modal__call-form-group">
                            <textarea class="modal__call-textarea" placeholder="Текст сообщения"></textarea>
                        </div>
                        <div class="modal__call-form-privacy-policy">
                            Нажимая на кнопку, вы даете согласие на <a href="#">обработку своих персональных данных</a>
                        </div>
                        <button type="submit" class="modal__call-form-submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>