.about-project {
    padding: 10rem;
    text-align: center;
}


.about-project__heading {
    font-weight: 800;
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
}


.about-project__text {
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #555555; 
}