.apply {
    padding-top: 9rem;
    @include breakpoint(tablet) {
        padding-top: 6rem;
    }


    @include breakpoint(small-mobile) {
        padding-top: 4.5rem;
    }
}


.apply__text-block {
    margin-bottom: 10rem;
}

.apply__heading {
    font-size: 3.6rem;
    font-weight: 800;
    margin-bottom: 2rem;
    @include breakpoint(small-mobile) {
        font-size: 2.4rem;
        margin-bottom: 1.8rem;
    }
}


.apply__text-block-info {
    font-size: 1.6rem;
    color: #555555;
    line-height: 1.75;
    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}


.apply__content {
    display: flex;
    margin-bottom: 10rem;
    @include breakpoint(laptop) {
        margin-bottom: 8rem;
    }
    @include breakpoint(tablet) {
        margin-bottom: 6rem;
    }
    @include breakpoint(small-mobile) {
        display: block;
        margin-bottom: 3rem;
    }
}


.apply__left-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(small-mobile) {
        width: 100%;
        flex-grow: 0;
    }
}
.apply__right-column {
    width: 45rem;
    flex-shrink: 0;
    margin-left: 4.5rem;
    position: relative;
    @include breakpoint(small-mobile) {
        width: 100%;
        margin-left: 0;
        flex-shrink: 1;
    }
}


.apply__widget-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}



.apply__image-block {
    height: 50rem;
    position: relative;
    @include breakpoint(large-desktop) {
        height: 40rem;
    }
    @include breakpoint(desktop) {
        height: 30rem;
    }
}


.apply__image-block-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc((100vw - 100%) / 2 * -1);
    background-color: red;
    z-index: -1;
}



.apply__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}