.apply {
    padding-top: 9rem;
    @include breakpoint(tablet) {
        padding-top: 6rem;
    }


    @include breakpoint(mobile) {
        padding-top: 4.5rem;
    }
}


.apply__text-block {
    margin-bottom: 10rem;
}

.apply__heading {
    font-size: 3.6rem;
    font-weight: 800;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 1.8rem;
    }
}


.apply__text-block-info {
    font-size: 1.6rem;
    color: #555555;
    line-height: 1.75;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}


.apply__content {
    display: flex;
    margin-bottom: 10rem;
    @include breakpoint(laptop) {
        margin-bottom: 8rem;
    }
    @include breakpoint(tablet) {
        margin-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        display: block;
        margin-bottom: 3rem;
    }
}


.apply__left-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}
.apply__right-column {
    width: 45rem;
    flex-shrink: 0;
    margin-left: 4.5rem;
    position: relative;
    display: flex;
    @include breakpoint(mobile) {
        width: 100%;
        margin-left: 0;
        flex-shrink: 1;
        margin-top: 3rem;
    }
}

// .apply__btn {
//     margin-left: auto;
//     font-weight: 800;
//     font-size: 1.5rem;
//     border-radius: 0.8rem;
//     padding: 2rem 4.2rem;
//     background-color: var(--light-blue);
//     transition: background-color 0.2s;
//     position: relative;
//     z-index: 1100;
//     text-align: center;
//     align-self: flex-start;
//     &:link,
//     &:visited {
//         color: white;
//     }

//     &:hover {
//         background-color: var(--blue-hover);
//     }
//     &:active {
//         background-color: var(--blue-active);
//     }
// }

.apply__widget-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1500;

    .application-widget__close {
        visibility: hidden;
    }
   
    @include breakpoint(mobile) {
        display: block;
        position: static;
    }
}



.apply__image-block {
    height: 50rem;
    position: relative;
    @include breakpoint(large-desktop) {
        height: 40rem;
    }
    @include breakpoint(desktop) {
        height: 30rem;
    }
}


.apply__image-block-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc((100vw - 100%) / 2 * -1);
    background-color: var(--light-blue);
    z-index: -1;
}



.apply__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCoverLeft();
}