.visual-editor {
    font-size: 1.6rem;
    color: #555555;
    line-height: 1.75;
    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    p:not([class]) {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }


    ul:not([class]) {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            position: relative;
            padding-left: 2rem;
            margin-bottom: 1rem;
            @include breakpoint(small-mobile) {
                padding-left: 1.5rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                top: 1.1rem;
                width: 0.6rem;
                height: 0.6rem;
                position: absolute;
                border-radius: 50%;
                left: 0;
                background-color: var(--light-blue);
                @include breakpoint(small-mobile) {
                    top: .8rem;
                }
            }
        }
    }
}